body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #8C52FF;
    line-height: 1.5;
    font-size: 16px;
}


/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the header section */
header {
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin-top: 20px;
    padding: 0;
}

/* Styling for navigation menu */
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

/* Styling for main content sections */
section {
    padding: 20px;
    margin: 15px;

    /* background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* width: 80%; */
}

/* section {
    padding: 20px;
    margin: 15px auto;
    /* set margin-top and margin-bottom to auto */
/* background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
} */
*/

/* Styling for headings within sections */
#about h2,
#experience h2,
#connect h2,
#skill h2,
#projects h2 {
    margin-bottom: 50px;

}


#Leave_Message,
#messages,
#footer,
#Name,
#experience,
#skill,
#about,
#connect,
#projects {
    list-style-type: style;
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

/* Styling for list items */

#experience li,
#skill li,
#about li,
#connect li {
    /* margin: 0;
    padding: 0;
    display: inline-block;
    width: 160px;
    margin-right: 20px;
    background-color: lightblue;
    border-radius: 5px;
    color: #333; */

    background-color: #CAB8FF;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    border: 1px solid black;
    display: block;
}

/* #projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 20px;
}

#projects li {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: #333;
} */
#projects {

    position: relative;

}

#projects li {
    background-color: #CAB8FF;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    border: 1px solid black;
    display: block;
}



/* Styling for ABOUT paragraph */
#about p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    display: inline-block;
    width: 50%;
    background-color: #CAB8FF;
    padding: 30px;
    border-radius: 5px;
    color: #333;
}

/* Style for social icon links */
.social-icons li a {
    color: #333;
    font-size: 30px;
}

/* Style for social icon links on hover */
.social-icons li a:hover {
    color: red;
}

/* Style form container */
form {
    background-color: #CAB8FF;
    /* width: 500px; */
    margin: 0 auto;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    /* width: 100%; */
    border: 1px solid black;
}

/* Style labels */
label {
    font-weight: bold;
}

/* Styling for the form */
#form_design {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 5px;
    width: 700px;
    margin: 0 auto;
}

#form_design h2 {
    margin-bottom: 20px;
}

/* Styling for form inputs and */
#form_design input[type="text"],
#form_design input[type="email"],
#form_design textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F5F5F5;
}

/* form button  styling */
#form_design button[type="submit"] {
    padding: 10px 20px;
    background-color: #045055;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#form_design button[type="submit"]:hover {
    background-color: #333;
}

/* Styling for messages */
#messages li {
    display: block;
    background-color: #CAB8FF;
    border-radius: 5px;
    color: #333;
    border: 1px solid black;
    width: 50%;
    margin: 10px auto;
    padding: 5px;
}

/* styling for messages button  */
.remove-button {
    background-color: #ff0000;
    color: #ffffff;
    border: 2px solid #333;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.remove-button:hover {
    background-color: #333;
}

.edit-button {
    background-color: #ff0000;
    color: #ffffff;
    border: 2px solid #333;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.edit-button:hover {
    background-color: #333;
}

/* Styling for footer section copyright */
#footer p {
    color: black;
}

/* Media queries for responsive design */
@media (max-width: 768px) {

    /* Adjustments for smaller screens */

    #about p,
    #messages li,
    #Name h1,
    #footer p,
    #experience li,
    #skill li,
    #projects li,
    #connect li {
        background-color: lightblue;
        font-size: 18px;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid black;
        display: block;
        color: #333;
    }


    #form_design {
        font-size: 18px;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid black;
        display: block;
        background-color: lightblue;
    }

    #messages h2,
    #Leave_Message h2,
    #about h2,
    #experience h2,
    #skill h2,
    #projects h2,
    #connect h2 {
        font-size: 20px;
        color: #112A46;
    }

}